<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comento.repository.CodeRepository">
    <select id="selectRepCode" parameterType="com.comento.dto.CodeRequest" resultType="code">
		SELECT *
		  FROM COMM_INFO
		  WHERE COMM_CD_NM LIKE CONCAT ('%', #{searchNm}, '%')
	</select>

    <select id="selectDetailCode" parameterType="com.comento.dto.CodeRequest" resultType="code">
		SELECT *
		  FROM COMM_CODE
		  WHERE COMM_CD_ID = #{commCdId}
	</select>
</mapper>